{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajax Game</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/88/three.min.js"></script>
</head>
<body>
    <div id="container">
        <button id="btn1">Load Game</button>
        <button id="btn2">Unload Game</button>
        <button id="btn3">Show Inner Game</button>
        <button id="btn4">Show Inner Body</button>
        <br><br>
        <button id="btn5">Test</button>
        <div id="game">
        </div>
        <!-- <div id="game"></div> -->
    </div>
    <script src="{% static 'game/main.js' %}"></script>
</body>
</html>