.nav-item {
    margin-left: 5px;
    margin-right: 5px;
}

.nav-item > a{
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 30px !important;
}

.nav-item > a:hover{
    color: red; 
    font-size: 30px;
}
