<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Form Submission Page</h1>
    <form id="yourFormId" method="post" action="{% url 'form_submission' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit Form</button>
    </form>
    <h2>{{form.errors}}</h2>
    <a href="/">Home</a>
    <a href="/spa-page/">SPA Page</a>
</body>
</html>