<!-- start: Chat -->
<section class="chat-section">
    <div class="userName" id="{{user.username}}"></div>
    <div class="chat-container">
        <!-- start: Sidebar -->
        <aside class="chat-sidebar">
            <a class="chat-sidebar-logo">
                <i class="ri-chat-1-fill">Chat</i>
            </a>
            <ul class="chat-sidebar-menu">
                <li class=""><a data-title="#Friends"><i class="ri-chat-3-line">F</i></a></li>
                <li class=""><a data-title="#Blockeds"><i class="ri-settings-line">B</i></a></li>
                <li class=""><a data-title="#Search"><i class="ri-settings-line">S</i></a></li>
                <li class="chat-sidebar-profile">
                    <button type="button" class="chat-sidebar-profile-toggle">
                        <img src="https://images.unsplash.com/photo-1534528741775-53994a69daeb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OXx8cGVvcGxlfGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60"
                            alt="">
                    </button>
                    <ul class="chat-sidebar-profile-dropdown">
                        <li><a><i class="ri-user-line"></i> Profile</a></li>
                        <li><a><i class="ri-logout-box-line"></i> Logout</a></li>
                    </ul>
                </li>
            </ul>
            
        </aside>
        <!-- end: Sidebar -->
        <!-- start: Content -->
        <div class="chat-content">
            <!-- start: Content side -->
            <div class="content-sidebar" id="Friends">
                <li>
                    <div class="content-sidebar-title">Friends</div>
                    <!-- <form action="" class="content-sidebar-form">
                        <input type="search" class="content-sidebar-input" placeholder="Search...">
                        <button type="submit" class="content-sidebar-submit"><i class="bi bi-check2-all"></i></button>
                    </form> -->
                    <div class="content-messages">
                        <ul class="content-messages-list">
                            {% for u in friends %}
                            {% if u.username is not request.user %}
                            <li>
                                <a href="" data-conversation="#conversation-{{u.username}}">
                                    <img class="content-message-image"
                                        src="https://images.unsplash.com/photo-1534528741775-53994a69daeb?ixlib=rb-4.0.3&    ixid=M3wxMjA3fDB8MHxzZWFyY2h8OXx8cGVvcGxlfGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60"
                                        alt="">
                                    <span class="content-message-info">
                                        <span class="content-message-name">{{u.username}}</span>
                                    </span>
                                </a>
                            </li>
                            {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </li>
            </div>

            <div class="content-sidebar" id="Blockeds">
                <li>
                    <div class="content-sidebar-title">Blockeds</div>
                    <form action="" class="content-sidebar-form">
                        <input type="search" class="content-sidebar-input" placeholder="Search...">
                        <button type="submit" class="content-sidebar-submit"><i class="bi bi-check2-all"></i></button>
                    </form>
                    <div class="content-messages">
                        <ul class="content-messages-list">
                            {% for u in blockeds %}
                            <li>
                                <a href="" data-block="{{u.blocked}}">
                                    <img class="content-message-image"
                                        src="https://images.unsplash.com/photo-1534528741775-53994a69daeb?ixlib=rb-4.0.3&    ixid=M3wxMjA3fDB8MHxzZWFyY2h8OXx8cGVvcGxlfGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60"
                                        alt="">
                                    <span class="content-message-info">
                                        <span class="content-message-name">{{u.blocked}}</span>
                                    </span>
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </li>
            </div>

            <div class="content-sidebar" id="Search">
                <li>
                    <div class="content-sidebar-title">Search</div>
                    <form action="" class="content-sidebar-form">
                        <input type="search" class="content-sidebar-input" placeholder="Search...">
                        <button type="submit" class="content-sidebar-submit"><i class="bi bi-check2-all"></i></button>
                    </form>
                    <div class="content-messages">
                        <ul class="content-messages-list">
                            {% for u in users %}
                            {% if u.username is not request.user %}
                            <li>
                                <a href="">
                                    <img class="content-message-image"
                                        src="https://images.unsplash.com/photo-1534528741775-53994a69daeb?ixlib=rb-4.0.3&    ixid=M3wxMjA3fDB8MHxzZWFyY2h8OXx8cGVvcGxlfGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60"
                                        alt="">
                                    <span class="content-message-info">
                                        <span class="content-message-name">{{u.username}}
                                            <a href="" data-add="{{u.username}}" style="display: grid; grid-template-columns: repeat(2, 1fr);">
                                                <i class="friend" style="color: rgb(25, 255, 101);">&#10003; Add Friend </i>
                                                <i class="block" style="color: red;">&#x026D4; Block</i>
                                            </a>
                                        </span>
                                    </span>
                                </a>
                            </li>
                            {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </li>
            </div>

            <!-- start: Conversation -->
            <div class="conversation conversation-default active">
                <i class="ri-chat-3-line"></i>
                <p>Select chat and view conversation!</p>
            </div>
            {% for u in friends %}
            <div class="conversation" id="conversation-{{u.username}}">
                <div class="conversation-top">
                    <button type="button" class="conversation-back"><i class="ri-arrow-left-line">&laquo;</i></button>
                    <div class="conversation-user">
                        <img class="conversation-user-image"
                            src="https://images.unsplash.com/photo-1534528741775-53994a69daeb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OXx8cGVvcGxlfGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60"
                            alt="">
                        <div>
                            <div class="conversation-user-name">{{u.username}}</div>
                            <div class="conversation-user-status online">online</div>
                        </div>
                    </div>
                </div>
                <div class="conversation-main">
                    <ul class="conversation-wrapper">
                        {% for m in combined %}
                        <!-- <li style="color: black;">{{user.username}} {{m.user.username}}</li> -->
                        {% if u.username == m.friend.username and user.username == m.user.username %}
                        <li class="conversation-item" id="{{m.user}}">
                            <div class="conversation-item-side">
                                <img class="conversation-item-image"
                                    src="https://images.unsplash.com/photo-1534528741775-53994a69daeb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OXx8cGVvcGxlfGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60"
                                    alt="">
                            </div>
                            <div class="conversation-item-content">
                                <div class="conversation-item-wrapper">
                                    <div class="conversation-item-box">
                                        <div class="conversation-item-text">
                                            <p>{{m.user.username}} {{m.friend.username}}</p>
                                            <p>{{m.content}}</p>
                                            <div class="conversation-item-time">{{m.date_added}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        {% elif user == m.friend and m.user == u %}
                        <li class="conversation-item me" id="{{m.user}}">
                            <div class="conversation-item-side">
                                <img class="conversation-item-image"
                                    src="https://images.unsplash.com/photo-1534528741775-53994a69daeb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OXx8cGVvcGxlfGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60"
                                    alt="">
                            </div>
                            <div class="conversation-item-content">
                                <div class="conversation-item-wrapper">
                                    <div class="conversation-item-box">
                                        <div class="conversation-item-text">
                                            <p>{{m.user.username}} {{m.friend.username}}</p>
                                            <p>{{m.content}}</p>
                                            <div class="conversation-item-time">{{m.date_added}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        {% endif %}
                        {% endfor %}
                        <!-- MSG AREA -->
                    </ul>
                </div>
                <div class="conversation-form">
                    <!-- <button type="button" class="conversation-form-button"><i class="ri-emotion-line"></i></button> -->
                    <div class="conversation-form-group" id="msg-{{u.username}}">
                        <textarea class="conversation-form-input" rows="1" placeholder="Type here..."></textarea>
                        <!-- <button type="button" class="conversation-form-record"><i class="ri-mic-line"></i></button> -->
                    </div>
                    <button data-send="#msg-{{u.username}}" data-user="{{user}}" type="button"
                        id="conversation-form-button" class="conversation-form-button conversation-form-submit"><i
                            class="ri-send-plane-2-line">Submit</i></button>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- end: Chat -->