<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<div class="container">
	<div class="row clearfix">
		<div class="col-lg-12">
			<div>
				<button class="btn btn-primary" onclick="showChats()" id="showChats-id">Friends</button>
				<button class="btn btn-primary" onclick="showAdd()" id="showAdd-id">Add</button>
				<button class="btn btn-primary" onclick="showBlocked()" id="showBlocked-id">Blocked</button>
				<button class="btn btn-primary" onclick="showRequests()" id="showRequests-id" >Request</button>
			</div>

			<div class="card chat-app">
				<div id="plist" class="people-list">
					<div class="input-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fa fa-search"></i></span>
						</div>
						<input type="text" class="form-control" placeholder="Search..." id="plist-search-input"
							oninput="pFriendSearch()" />
					</div>
					<ul class="list-unstyled chat-list mt-2 mb-0" id="plist-userlist"></ul>
				</div>
				<div id="pAdd" class="people-list" hidden>
					<div class="input-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fa fa-search"></i></span>
						</div>
						<input type="text" class="form-control" placeholder="Search..." oninput="pAddSearch()"
							id="pAdd-search-input" />
					</div>
					<ul class="list-unstyled chat-list mt-2 mb-0" id="pAdd-userlist"></ul>
				</div>
				<div id="pBlocked" class="people-list" hidden>
					<ul class="list-unstyled chat-list mt-2 mb-0" id="pBlocked-userlist">

					</ul>
				</div>
				<div id="pRequest" class="people-list" hidden>
					<ul class="list-unstyled chat-list mt-2 mb-0" id="pRequest-userlist">
					</ul>
				</div>
				<div class="chat">
					<div class="chat-header clearfix" id="screen-chat-header">
						<div class="row">
							<div class="col-lg-6">
								<a href="javascript:void(0);" data-username="" data-toggle="modal"
									data-target="#view_info" onclick="goToProfile('chat-screen-link')"
									id="chat-screen-link"><img src="https://bootdey.com/img/Content/avatar/avatar2.png"
										alt="avatar" /></a>
								<div class="chat-about">
									<h6 class="m-b-0" id="screen-chat-header-username"></h6>
								</div>
							</div>
							<div class="col-lg-6 hidden-sm text-right">
								<a href="javascript:void(0);" onclick="blockUser()" class="btn btn-danger"
									style="margin-left: 290px;"><i class="fa fa-ban"></i></a>
							</div>
						</div>
					</div>
					<div class="chat-history"></div>
					<div class="chat-history" id="screen-chat" hidden>
						<ul class="m-b-0" id="screen-chat-inner">
						</ul>
					</div>
					<div class="chat-history" id="screen-add" hidden></div>
					<div class="chat-history" id="screen-block" hidden></div>
					<div class="chat-history" id="screen-request" hidden></div>
					<div class="chat-message clearfix" id="type-box">
						<div class="input-group mb-0">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="fa fa-send"></i></span>
							</div>
							<input type="text" class="form-control" placeholder="Type message" id="type-box-message" />
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>