{% extends "base.html" %}
{% load static %}
{% block content %}

<style>
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
</style>


{% block css_files %}
<link rel="stylesheet" href="{%static 'home/css/index.css'%}">
{% endblock %}

{% block psa_files %}
<link rel="stylesheet" href="{%static 'psa_js/router.js'%}">
{% endblock %}


<div class="container">
  <div class="col-md-6">
    <div class="text-center">
      <button onclick="showRegisterForm()" class="btn btn-primary mr-2">Register</button>
      <button onclick="showLoginForm()" class="btn btn-secondary">Login</button>
    </div>
    <div id="registerForm" class="mt-4">
      <h2 class="text-center mb-3">Register Form</h2>
      <form>
        <!-- Register form fields -->
        <div class="form-group">
          <label for="inputName">Name</label>
          <input type="text" class="form-control" id="inputName" placeholder="Enter your name">
        </div>
        <div class="form-group">
          <label for="inputLastName">Lastname</label>
          <input type="text" class="form-control" id="inputLastName" placeholder="Enter your name">
        </div>
        <div class="form-group">
          <label for="inputNickname">Nickname</label>
          <input type="text" class="form-control" id="inputNickname" placeholder="Enter your nickname">
        </div>
        <div class="form-group">
          <label for="inputEmail">Email address</label>
          <input type="email" class="form-control" id="inputEmail" placeholder="Enter email">
        </div>
        <div class="form-group">
          <label for="inputPassword">Password</label>
          <input type="password" class="form-control" id="inputPassword" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-primary btn-block">Register</button>
        <button type="button" class="btn btn-primary btn-block">42auth</button>
        <button onclick="signInWithGoogle()" class="btn btn-primary btn-block">Google ile Giriş Yap</button>
      </form>
    </div>
    <div id="loginForm" class="mt-4" style="display: none;">
      <h2 class="text-center mb-3">Login Form</h2>
      <form>
        <!-- Login form fields -->
        <div class="form-group">
          <label for="loginEmail">Email address</label>
          <input type="email" class="form-control" id="loginEmail" placeholder="Enter email">
        </div>
        <div class="form-group">
          <label for="loginPassword">Password</label>
          <input type="password" class="form-control" id="loginPassword" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-primary btn-block">Login</button>
      </form>
    </div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    showRegisterForm(); // Sayfa yüklendiğinde Register formunu göstermek için
  });

  function showRegisterForm() {
    document.getElementById('registerForm').style.display = 'block';
    document.getElementById('loginForm').style.display = 'none';
  }

  function showLoginForm() {
    document.getElementById('registerForm').style.display = 'none';
    document.getElementById('loginForm').style.display = 'block';
  }
</script>

{% endblock %}
