<!DOCTYPE html>
<html lang="tr">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/ico" href="{% static 'general/favicon.ico' %}" id="favicon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title></title>
    <script type="importmap">
      {
        "imports": {
          "three": "https://unpkg.com/three@v0.149.0/build/three.module.js",
          "three/addons/": "https://unpkg.com/three@v0.149.0/examples/jsm/"
        }
      }
    </script>
    
</head>
<body>
    {% block content %}
    {% endblock %}
</body>
</html>