<!-- base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your SPA Title</title>
    <!-- Include any common CSS styles or libraries -->
    {% load static %}
</head>
<body>
    <div id="app"> <!-- Container for dynamic content --> 
        {% block content %}{% endblock %}
    </div>
    <!-- Include any common scripts or libraries -->
    <script src="{% static 'js/navigation.js' %}"></script>
</body>
</html>
