<!-- base.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your SPA Title</title>
    <script type="importmap">
        {
            "imports": {
                "three": "https://unpkg.com/three@v0.149.0/build/three.module.js",
                "three/addons/": "https://unpkg.com/three@v0.149.0/examples/jsm/"
            }
        }
        
    </script>
    <script>
        function toggleCanvas() {
    var canvas = document.getElementById("pong_canvas");
    if (canvas.style.display === "none") {
        canvas.style.display = "block";
    } else {
        canvas.style.display = "none";
    }
}
    </script>
    <style>
        body {
            margin: 0;
        }
        canvas {
            display: none;
            width: 100%;
            height: 100%;
        }
    </style>
    <!-- Include any common CSS styles or libraries -->
    <script>
        function openclose() {
            var x = document.getElementById("oyun");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }
    </script>
</head>
<body>

<div id="app"> <!-- Container for dynamic content --> 
    {% block content %}{% endblock %}
</div>
<canvas id="pong_canvas"></canvas>


    


<script src="{% static 'js/main.js' %}" type="module"></script>
<!-- Include any common scripts or libraries -->
<script src="{% static 'js/navigation.js' %}"></script>

</body>
</html>
