/* =========== Pong =========== */

h1 {
    color: #333;
}
button {
    padding: 15px 30px;
    font-size: 18px;
    margin: 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
button:hover {
    background-color: #007bff;
    color: #fff;
}
#button1 {
    background-color: #28a745;
    color: #fff;
}
#button2 {
    background-color: #ffc107;
    color: #333;
}
#button3 {
    background-color: #dc3545;
    color: #fff;
}

/* =========== Tournement =========== */

.Tournement {
    display: none;
}

.Tournement.active {
    display: block;
}

/* =========== One vs One =========== */

.OnevsOne {
    display: none;
}

.OnevsOne.active {
    display: block;
}

.arkadas-ara-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#vscard {
    min-height: 680px;
    background-color: rgb(66, 168, 146);
}

#userfoto {
    margin-top: 200px;
}

@media (max-width: 768px) {
    #userfoto {
        margin-top: 3px !important;
        /* Önemli! */
    }
}

#vscard .card-body {
    /* Additional styles for better appearance */
    padding: 1rem;

}

#pong_canvas{
    border: 31px solid rgb(66, 168, 146);
  }

