<div class="container" id="about-container">
  <div class="row justify-content-center">
    <div class="col-lg-4 col-md-6 mb-4">
      <div class="card usercard">
        <img src="../../static/Display/img/tahil.jpg" class="card-img-top about_card" alt="Team Member">
        <div class="card-body">
          <h5 class="card-title">Talha AÇIKGÖZ</h5>
          <p class="card-text"></p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 mb-4">
      <div class="card usercard">
        <img src="../../static/Display/img/sarp.jpg" class="card-img-top about_card" alt="Team Member">
        <div class="card-body">
          <h5 class="card-title">Yiğit Sarp ERKİRALP</h5>
          <p class="card-text"></p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 mb-4">
      <div class="card usercard">
        <img src="../../static/Display/img/alp.jpg" class="card-img-top about_card" alt="Team Member">
        <div class="card-body">
          <h5 class="card-title">Alp Arda YALMAN</h5>
          <p class="card-text"></p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 mb-4">
      <div class="card usercard">
        <img src="../../static/Display/img/EYUP.jpg" class="card-img-top about_card" alt="Team Member">
        <div class="card-body">
          <h5 class="card-title">Eyüp Kemal KARAOĞLU</h5>
          <p class="card-text"></p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 mb-4">
      <div class="card usercard">
        <img src="../../static/Display/img/emircan.jpg" class="card-img-top about_card" alt="Team Member">
        <div class="card-body">
          <h5 class="card-title">Emircan KAYMAZ</h5>
          <p class="card-text"></p>
        </div>
      </div>
    </div>
    <!-- Diğer ekip üyeleri için aynı kart yapısını kullanabilirsiniz -->
  </div>
</div>