
<div class="container">
  <div class="row">
    <div class="col-lg-4 col-md-6 mb-4">
      <div class="card">
        <img src="path_to_image" class="card-img-top" alt="Team Member">
        <div class="card-body">
          <h5 class="card-title">İsim Soyisim</h5>
          <p class="card-text">Pozisyon</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 mb-4">
        <div class="card">
          <img src="path_to_image" class="card-img-top" alt="Team Member">
          <div class="card-body">
            <h5 class="card-title">İsim Soyisim</h5>
            <p class="card-text">Pozisyon</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card">
          <img src="path_to_image" class="card-img-top" alt="Team Member">
          <div class="card-body">
            <h5 class="card-title">İsim Soyisim</h5>
            <p class="card-text">Pozisyon</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card">
          <img src="path_to_image" class="card-img-top" alt="Team Member">
          <div class="card-body">
            <h5 class="card-title">İsim Soyisim</h5>
            <p class="card-text">Pozisyon</p>
          </div>
        </div>
      </div>
    <!-- Diğer ekip üyeleri için aynı kart yapısını kullanabilirsiniz -->
  </div>
</div>