<section class="vh-100">
	<div class="container-fluid h-custom">
		<div class="row d-flex justify-content-center align-items-center h-100">
			<div class="col-md-9 col-lg-6 col-xl-5">
				<img id="login42logo" src="../../static/Display/img/42_Logo.png" class="img-fluid" alt="Sample image">
			</div>
			<div class="col-md-8 col-lg-6 col-xl-4">
				<form>
					<div class="d-flex">
						<p class="lead fw-normal mb-0 me-3">Sign in with</p>
						<button type="button" class="btn btn-primary" id="FtButton">
							<img src="../../static/Display/img/42_Logo.png" style="width: 40px; height: 40px;"></img>
						</button>
					</div>
					<div class="divider my-4">
					</div>

					<!-- Email input -->
					<div class="mb-4">
						<label class="form-label">Name</label>
						<input type="text" class="form-control form-control-lg usernameLogin"
							placeholder="Username.." />
					</div>

					<!-- Password input -->
					<div class="mb-4">
						<label class="form-label">Password</label>
						<input type="password" class="form-control form-control-lg passwordLogin"
							placeholder="Enter password" />
					</div>

					<div class="text-center text-lg-start mt-4 pt-2">
						<button type="button" class="btn btn-primary btn-lg" id="login_btn">Login</button>
						<p class="small fw-bold ">Don't have an account?
							<a id="registerButtonInLoginPage" href="/register" class="link-danger">Register</a>
						</p>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>