<nav class="navbar navbar-expand-lg ">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" id="navbarhomet" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="navbarProText" href="/profile">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="navbarChatText" href="/chat">Chat</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="navbarGameText" href="/pong">Game</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="navbarSetText" href="/settings">Settings</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="navbarAboutText" href="/about">About</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" id="navbarLogoutText" href="{% url 'logout' %}"> Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
