<h3>Stylish Button Interface</h3>


<style>
	.gayTahil {
		color: #ffffff;
		font-size: 50px;
	}
</style>

<div class="userUsername" style="display: block; color: white;">{{user.username}}</div>
<button id="PlayVS" onclick="GameLobby()">1 VS 1</button>
<button id="PlayTournement">Tournament Match</button>
<!-- whilst cliken opens a pop up asking for the number of players that are going to participate. -->

<!-- <div style="color: #ffffff; font-size: 50px;" id='gayTahil'></div> -->
<!-- <button onclick='startPong()' id='niber' disabled>Play</button> -->

<button data-page="#tournement-page">Tournament</button>
<button data-page="#vs-page">One vs One</button>

<!-- ======== Tournement ======== -->

<div class="page container Tournement" id="tournement-page">
	<h4 class="fw-bold p-3 my-4" style="color: white;">Tournament</h4>
	<div class="card" id="vscard">
		<div class="row row-cols-1 row-cols-md-3 g-3">
			<div class="col">
				<div class="card mb-3" style="margin-left: 20px; margin-right: 20px;" id="userfoto">
					<div class="row g-0">
						<div class="col-md-4">
							<img src="../../media/default.jpg" style="max-width: 130px; max-height: 130px;"
								class="img-fluid border-radius" alt="...">
						</div>
						<div class="col-md-8">
							<div class="card-body">
								<h5 class="card-title">username</h5>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="playGameButton">
				<button class="btn btn-primary playGameButton" id="niber" onclick='startPong()' disabled>Play
					Pong</button>
			</div>
			<div class="right-cards">
				<div class="col-md4">
					<div class="card mb-3 cardMain">
						<div class="card-body py-10 px-10">
							<div class="cardInvite">
								<input type="text" class="form-control" placeholder="Game Invite">
								<button class="btn btn-primary">Ara</button>
							</div>
							<h1 style=" text-align: center; margin-top: 3px;">USERNAME</h1>
						</div>
					</div>
				</div>
				<div class="col-md4">
					<div class="card mb-3 cardMain ">
						<div class="card-body py-10 px-10">
							<div class="cardInvite">
								<input type="text" class="form-control" placeholder="Game Invite">
								<button class="btn btn-primary">Ara</button>
							</div>
							<h1 style="  text-align: center; margin-top: 3px;">USERNAME</h1>
						</div>
					</div>
				</div>
				<div class="col-md4">
					<div class="card mb-3 cardMain ">
						<div class="card-body py-10 px-10">
							<div class="cardInvite">
								<input type="text" class="form-control" placeholder="Game Invite">
								<button class="btn btn-primary">Ara</button>
							</div>
							<h1 style="  text-align: center; margin-top: 3px;">USERNAME</h1>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- ======== One vs One ======== -->

<div class="page container OnevsOne" id="vs-page">
	<h4 class="fw-bold p-3 my-4" style="color: white;">One vs One</h4>
	<div class="card" id="vscard">
		<div class="row row-cols-1 row-cols-md-3 g-3">
			<div class="col">
				<div class="card mb-3" style="margin-left: 20px; margin-right: 20px;" id="userfoto">
					<div class="row g-0">
						<div class="col-md-4">
							<img src="../../media/default.jpg" style="max-width: 130px; max-height: 130px;"
								class="img-fluid border-radius" alt="...">
						</div>
						<div class="col-md-8">
							<div class="card-body">
								<h5 class="card-title">username</h5>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col d-flex flex-column justify-content-center align-items-center searchs">
				<input type="text" id="textInput" oninput="readTextField()">
				<button class="btn btn-primary" id="biffer" onclick="findPlayer()" disabled>Game Invite</button>
			</div>
			<div class="col">
				<div class="card mb-3 " style="margin-right: 20px; margin-left: 20px;" id="userfoto">
					<div style="color: #000000; font-size: 50px;" id="playerStatus">Invite a player</div>
					<div class="row g-0">
						<div class="col-md-4">
							<img src="../../media/default.jpg" style="max-width: 130px; max-height: 130px;"
								class="img-fluid border-radius" alt="...">
						</div>
						<div class="col-md-8">
							<div class="card-body">
								<h5 class="card-title">Username</h5>
							</div>
						</div>
					</div>
				</div>
				<div class="playGameButton">
					<button class="btn btn-primary playGameButton" id="niber" onclick='startPong()' disabled>Play
						Pong</button>
				</div>
			</div>
		</div>

		<!-- ======== Game ======== -->
		<div class="page container Game" id="Game">
		</div>
	</div>
</div>
