<h3>Stylish Button Interface</h3>


<style> 
	.gayTahil {
		color: #ffffff;
		font-size: 50px;
	}	

</style>


<button id="PlayVS" onclick="GameLobby()">1 VS 1</button>
<button id="PlayTournement">Tournament Match</button>
<!-- whilst cliken opens a pop up asking for the number of players that are going to participate. -->

<input type="text" id="textInput" oninput="readTextField()">
<button class="biffer" id="PlayTournement" onclick="findPlayer()" disabled>Invite Player</button>
<div style="color: #ffffff; font-size: 50px;" id='gayTahil'></div>
<button onclick='startPong()' id='niber' disabled>Play</button>