<style>
	.gayTahil {
		color: #ffffff;
		font-size: 50px;
	}

	div#scoreBoard h1 {
		background-color: red;
		color: wheat;
		font-family: Arial, sans-serif;
		font-size: 30px;
		text-align: center;
	}
</style>

<div class="userUsername" style="display: block; color: white;" hidden>{{user.username}}</div>

<!-- whilst cliken opens a pop up asking for the number of players that are going to participate. -->

<!-- <div style="color: #ffffff; font-size: 50px;" id='gayTahil'></div> -->
<!-- <button onclick='startPong()' id='niber' disabled>Play</button> -->

<div id="gameNavi">
	<button data-page="#tournement-page" id="pong-tour-button">Tournament</button>
	<button data-page="#vs-page" id="pong-1v1-button">One vs One</button>
	<button data-page="#info-page" id="pong-info-button">info</button>
</div>
<div id="scoreBoard">
	<h1 id="scoreText"></h1>
</div>

<!-- ======== info ======== -->

<div class="page container info" id="info-page">
	<div class="card" id="vscard">
		<div class="card-body">
			<h5 class="card-title" id="info-game-modes">Oyun Modları</h5>
			<ul class="list-group list-group-flush">
				<li class="list-group-item" style="background-color: blue;" id="game-info-1v1">1'e 1</li>
				<li class="list-group-item" style="background-color: blue;" id="game-info-Tour">Turnuva</li>
			</ul>
			<h5 class="card-title" id="info-game-controls">Kontroller</h5>
			<table class="table table-bordered">
				<thead>
					<tr>
						<th></th>
						<th id="info-game-up">Yukarı</th>
						<th id="info-game-down">Aşağı</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th id="info-game-enemy">Rakip</th>
						<td><kbd>K</kbd></td>
						<td><kbd>L</kbd></td>
					</tr>
					<tr>
						<th id="info-game-you">Siz</th>
						<td><kbd>A</kbd></td>
						<td><kbd>S</kbd></td>
					</tr>
				</tbody>
			</table>
			<h5 class="card-title" id="info-game-lar">Oyun Akışı</h5>
			<ol id="info-text">
				<li class="game-info-row">Her iki oyuncu da kendi tarafındaki masada birer topla başlar.</li>
				<li class="game-info-row">Oyuncular, topları rakip sahanın zeminine değdirmeye çalışırlar.</li>
				<li class="game-info-row">Top zeminine değdiğinde, o topu atan oyuncu bir puan kazanır.</li>
				<li class="game-info-row">İlk önce belirlenen puana ulaşan oyuncu oyunu kazanır.</li>
			</ol>
			<h5 class="card-title" id="info-game-mode">Turnuva Modu</h5>
			<ul id="info-text-down">
				<li class="game-info-row-down">Birden fazla oyuncu birbiriyle yarışır.</li>
				<li class="game-info-row-down">Her oyuncu, diğer tüm oyuncularla bir kez maç yapar.</li>
				<li class="game-info-row-down">En çok puanı alan oyuncu turnuvayı kazanır.</li>
			</ul>
		</div>
	</div>
</div>
<!-- ======== Tournement ======== -->

<div class="page container Tournement" id="tournement-page">
	<div class="card" id="vscard">
		<div class="row row-cols-1 row-cols-md-3 g-3">
			<div class="col">
				<div class="card mb-3" style="margin-left: 20px; margin-right: 20px;" id="userfoto">
					<div class="row g-0">
						<div class="col-md-8">
							<div class="container-lg">
								<input type="text" class="form-control" id="aliasTour" placeholder="Alias">
							</div>
							<div class="card-body">
								<h5 class="card-title" id="hostName1">username</h5>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="playGameButton">
				<button class="btn btn-primary playGameButton" id="niber2">Play
					Pong</button>
			</div>
			<div class="right-cards">
				<div class="card mb-3 cardMain">
					<div class="card-body py-10 px-10">
						<div class="cardInvite">
							<div class="container-lg">
								<input type="text" class="form-control" id="alias2" placeholder="Alias">
								<input type="text" class="mt-2" id="inv2" oninput="readTextField('inv2', 'invB2')"
									placeholder="Game Invite">
								<button class="btn btn-primary" id="invB2"
									onclick="findPlayer('inv2', 'invB2', 'user2')">Send Invite</button>
							</div>

						</div>
						<h1 style=" text-align: center; margin-top: 3px;" id="user2">Username</h1>
					</div>
				</div>

				<div class="card mb-3 cardMain ">
					<div class="card-body py-10 px-10">
						<div class="cardInvite">
							<div class="container-lg">
								<input type="text" class="form-control" id="alias3" placeholder="Alias">
								<input type="text" class="mt-2" id="inv3" oninput="readTextField('inv3', 'invB3')"
									placeholder="Game Invite">
								<button class="btn btn-primary" id="invB3"
									onclick="findPlayer('inv3', 'invB3', 'user3')" disabled>Send Invite</button>
							</div>
						</div>
						<h1 style="  text-align: center; margin-top: 3px;" id="user3">Username</h1>
					</div>
				</div>

				<div class="card mb-3 cardMain ">
					<div class="card-body py-10 px-10">
						<div class="cardInvite">
							<div class="container-lg">
								<input type="text" class="form-control" id="alias4" placeholder="Alias">
								<input type="text" class="mt-2" id="inv4" oninput="readTextField('inv4', 'invB4')"
									placeholder="Game Invite">
								<button class="btn btn-primary" id="invB4"
									onclick="findPlayer('inv4', 'invB4', 'user4')" disabled>Send Invite</button>
							</div>
						</div>
						<h1 style="  text-align: center; margin-top: 3px;" id="user4">Username</h1>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>

<!-- ======== One vs One ======== -->

<div class="page container OnevsOne" id="vs-page">
	<div class="card" id="vscard">
		<div class="row row-cols-1 row-cols-md-3 g-3">
			<div class="col">
				<div class="card mb-3" id="userfoto">
					<div class="row g-0">
						<div class="col-md-8">
							<div class="card-body">
								<h5 class="card-title" id="hostName2">username</h5>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col d-flex flex-column justify-content-center align-items-center searchs">
				<div class="playGameButton" style="margin-top: 200px;">
					<button class="btn btn-primary playGameButton" id="niber" disabled>Play
						Pong</button>
					<button class="btn btn-primary playGameButton" id="niberGuest">Play
						Guest</button>
				</div>
			</div>
			<div class="col">
				<div class="card mb-3 " id="userfoto">
					<div class="card-body py-10 px-10">
						<div class="cardInvite">
							<div class="container-lg">
								<input type="text" id="inv1" oninput="readTextField('inv1', 'invB1')"
									placeholder="Game Invite">
								<button class="btn btn-primary" id="invB1"
									onclick="findPlayer('inv1', 'invB1', 'user1')">Send Invite</button>
							</div>
						</div>
						<h1 style="  text-align: center; margin-top: 3px;" id="user1">Username</h1>
					</div>
				</div>
			</div>
		</div>

		<!-- ======== Game ======== -->

		<div class="page container Game" id="Game">
		</div>

	</div>
</div>