<div class="main-body">
	<div class="row gutters-sm">
		<div class="col-sm-2"></div>
				<div class="col-md-3 mb-3">
					<div class="card">
						<div class="card-body profileCardBG" id="myusercard">
							<div class="d-flex flex-column align-items-center text-center">
								<img class="setAvatar" style="border-radius: 60%; border: 2px solid grey;" id="profileImage" class="rounded-circle" width="150">
								<div class="mt-3">
									<p class="text-muted mb-1" id="user"></p>
									<p class="text-secondary mb-1"></p>
									<p class="text-muted font-size-sm"></p>
								</div>
								<div id="online-status"></div>
							</div>
						</div>
					</div>
					<div class="card mt-3" id="userScore">
						<ul class="list-group list-group-flush">
							<li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
								<h6 class="mb-0" id="profile-total-match">Total Match</h6>
								<span class="text-secondary" id="profile-loading-1">Loading...</span>
							</li>
							<li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
								<h6 class="mb-0" id="profile-win">Win</h6>
								<span class="text-secondary" id="profile-loading-2">Loading...</span>
							</li>
							<li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
								<h6 class="mb-0" id="profile-lose">Lose</h6>
								<span class="text-secondary" id="profile-loading-3">Loading...</span>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-md-6" >
					<div class="card mb-3 profileCardBG">
						<div class="card-body" id="card-inner">
							<div class="row">
								<div class="col-sm-3">
									<h6 class="mb-0" id="profile-username">Username</h6>
								</div>
								<div class="col-sm-9">
									<p class="text-muted mb-0"></p>
								</div>
							</div>
							<hr>
							<div class="row">
								<div class="col-sm-3">
									<h6 class="mb-0" id="profile-email">Email</h6>
								</div>
								<div class="col-sm-9">
									<p class="text-muted mb-0"></p>
								</div>
							</div>
							<hr>
							<div class="row">
								<div class="col-sm-3">
									<h6 class="mb-0" id="profile-firstname">Firstname</h6>
								</div>
								<div class="col-sm-9">
									<p class="text-muted mb-0"></p>
								</div>
							</div>
							<hr>
							<div class="row">
								<div class="col-sm-3">
									<h6 class="mb-0" id="profile-lastname">Lastname</h6>
								</div>
								<div class="col-sm-9">
										<p class="text-muted mb-0"></p>
								</div>
							</div>
							<hr>
							<div class="row">
								<div class="col-sm-3">
									<h6 class="mb-0" id="profile-bio">Bio</h6>
								</div>
								<div class="col-sm-9">
										<p class="text-muted mb-0"></p>
								</div>
							</div>
							<hr>
						</div>
					</div>
					<div class="col-md-12">
						<div class="card proCard mb-3 profileCardBG">
							<div class="card-body">
								<table class="table table-borderless card-table">
									<table class="table">
										<thead>
											<tr>
												<th scope="col">#</th>
												<th scope="col" id="profile-hs-user1">User</th>
												<th scope="col" id="profile-hs-score1">Score</th>
												<th scope="col" id="profile-hs-vs">VS</th>
												<th scope="col" id="profile-hs-score2">Score</th>
												<th scope="col" id="profile-hs-user2">User</th>
												<th scope="col" id="profile-hs-date">Date</th>
											</tr>
										</thead>
										<tbody>
											<tr id="match-history-1">
												<th scope="row">1</th>
												<td class="match-stats">0</td>
												<td class="match-stats">0</td>
												<td class="match-stats">VS</td>
												<td class="match-stats">0</td>
												<td class="match-stats">0</td>
												<td class="match-stats">0/0/0</td>
											</tr>
											<tr id="match-history-2">
												<th scope="row">2</th>
												<td class="match-stats">0</td>
												<td class="match-stats">0</td>
												<td class="match-stats">VS</td>
												<td class="match-stats">0</td>
												<td class="match-stats">0</td>
												<td class="match-stats">0/0/0</td>
											</tr>
											<tr id="match-history-3">
												<th scope="row">3</th>
												<td class="match-stats">0</td>
												<td class="match-stats">0</td>
												<td class="match-stats">VS</td>
												<td class="match-stats">0</td>
												<td class="match-stats">0</td>
												<td class="match-stats">0/0/0</td>
											</tr>
											<tr id="match-history-4">
												<th scope="row">4</th>
												<td class="match-stats">0</td>
												<td class="match-stats">0</td>
												<td class="match-stats">VS</td>
												<td class="match-stats">0</td>
												<td class="match-stats">0</td>
												<td class="match-stats">0/0/0</td>
											</tr>
											<tr id="match-history-5">
												<th scope="row">5</th>
												<td class="match-stats">0</td>
												<td class="match-stats">0</td>
												<td class="match-stats">VS</td>
												<td class="match-stats">0</td>
												<td class="match-stats">0</td>
												<td class="match-stats">0/0/0</td>
											</tr>
										</tbody>
									</table>
								</table>
							</div>
						</div>
				</div>
			</div>
		</div>
	</div>
</div>