<section class="vh-100">
    <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-9 col-lg-6 col-xl-5">
                <img src="../../static/Display/img/42_Logo.png" style="width: 500px;" class="img-fluid"
                    alt="Sample image">
            </div>
            <div class="col-md-8 col-lg-6 col-xl-4">
                <form class="validate-form" method="POST" action="">
                    <!-- Username input -->
                    <div class="form-outline mb-4">
                        <input type="text" class="form-control form-control-lg" id="username"
                            placeholder="Username..." />
                    </div>
                    <!-- Firstname input -->
                    <div class="form-outline mb-4">
                        <input type="text" class="form-control form-control-lg" id="firstname" name="firstname"
                            placeholder="Firstname..." />
                    </div>
                    <!-- Lastname input -->
                    <div class="form-outline mb-4">
                        <input type="text" class="form-control form-control-lg" id="lastname" name="lastname"
                            placeholder="Lastname..." />
                    </div>
                    <!-- email input -->
                    <div class="form-outline mb-4">

                        <input type="email" class="form-control form-control-lg" id="email" name="email"
                            placeholder="Email..." />

                    </div>

                    <!-- Password input -->
                    <div class="form-outline mb-3">
                        <input type="password" id="password1" class="form-control form-control-lg passwordLogin"
                            name="password1" placeholder="Password..." />
                    </div>
                    <div class="form-outline mb-3">
                        <input type="password" id="password2" class="form-control form-control-lg" name="password2"
                            placeholder="Password..." />
                    </div>
                        <input class="btn btn-primary registerBtn" type="submit" value="Register">
                        <!-- Button text changed to Register -->
                    <!-- Button text changed to Register -->
                    <p class="small fw-bold mt-2">Don't have an account?
                        Already have an account?<a id="signInButtonInRegisterPage" class="p-2" href="/login">Sign
                            In</a> <!-- Link text changed to Sign In -->
                    </p>
            </div>
            </form>
        </div>
    </div>
</section>