<div class="container h-100">
	<div class="d-flex justify-content-center h-100">
		<div class="card">
			<div class="card-header">
				<h3>Register</h3> <!-- Title changed to Register -->
				<div class="d-flex justify-content-end social_icon">
					<span><i class="fab fa-google-plus-square"></i></span>
					<span><i class="fab fa-twitter-square"></i></span>
				</div>
			</div>
			<div class="card-body">
                <form class="login100-form validate-form" method="POST" action="">
                    {% csrf_token %}
					<div class="input-group form-group">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        <p style="color:white; margin: 5px; width: 100px;">username </p>
                        <!-- {{ form.username.label_tag }}  -->
                        {{ form.username }}
                    </div>
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                        </div>
                        <p style="color:white; margin: 5px; width: 90px;">Email</p>
                        {{ form.email }}
                    </div>
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        <p style="color:white; margin: 5px; width: 90px;">password1 </p>
                        {{ form.password1 }}
                    </div>
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        <p style="color:white; margin: 5px; width: 90px;">password2 </p>
                        {{ form.password2 }}
                    </div>                    
					<div class="d-flex justify-content-center mt-3 login_container">
						<input class="btn login_btn" type="submit" value="Register"> <!-- Button text changed to Register -->
					</div>
				</form>
			</div>
			<div class="card-footer">
				<div class="d-flex justify-content-center links">
					Already have an account?<a href="{% url 'login' %}" class="ml-2">Sign In</a> <!-- Link text changed to Sign In -->
				</div>
			</div>
		</div>
	</div>
</div>
