<div class="container">
    <div class="card" id="mycard">
        <div class="row no-gutters row-bordered row-border-light">
            <div class="col-md-7" id="settingcard">
                <div class="card-body media align-items-center">
                    <img class="setAvatar" src="{{ profile_photo }}" alt="" id="foto">
                    <form id="profile-picture-form" enctype="multipart/form-data">
                        <input type="file" name="profile_picture" id="id_profile_picture" 
                            class="custom-file-input btn btn-primary mt-1">
                        <button class="btn btn-primary mt-1" type="submit" id="settings-upload">Upload</button>
                    </form>
                    <div id="preview"></div>
                    <div class="form-group settingsFormInput">
                        <label for="FormUser" id="usernameText" class="form-label">username</label>
                        <input id="FormUser" type="text" class="form-control mb-1 username" value="{{user.username}}"
                            readonly>
                    </div>
                    <div class="form-group">
                        <label for="firstName" id="firstnameText" class="form-label">firstname</label>
                        <input type="text" class="form-control first_name" id="firstName" value="">
                    </div>
                    <div class="form-group">
                        <label for="lastName" id="lastnameText" class="form-label">lastname</label>
                        <input type="text" class="form-control last_name" id="lastName" value="">
                    </div>
                    <div class="form-group">
                        <label for="userEmail" id="emailText" class="form-label">email</label>
                        <input type="text" class="form-control useremail" id="userEmail" value="">
                    </div>
                    <div class="form-group">
                        <label class="form-label" id="bioText">bio</label>
                        <input type="text" class="form-control bio" value="">
                    </div>
                    <div class="text-right mt-3">
                        <button type="button" class="btn btn-primary" id="EN" onclick="changeLanguage('EN')">EN</button>&nbsp;
                        <button type="button" class="btn btn-primary" id="TR" onclick="changeLanguage('TR')">TR</button>&nbsp;
                        <button type="button" class="btn btn-primary" id="FR" onclick="changeLanguage('FR')">FR</button>&nbsp;
                    </div>
                    <div class="text-right mt-3">
                        <button type="submit" class="btn btn-primary" id="SettingsButtonSave">Save
                            changes</button>&nbsp;
                        <button type="button" class="btn btn-primary" id="TwofaButtonActivate">Enable 2FA</button>&nbsp;
                        <button type="button" class="btn btn-danger" id="DeleteUser">Delete account</button>&nbsp;
                    </div>
                    <div id="qrcode-container"></div>
                </div>
            </div>
        </div>
    </div>
</div>