
<div class="container">
    <h4 class="fw-bold p-3 my-4">Tournament</h4>
    <div class="card" id="mycard">
      <div class="row row g-0 p3">
        <div class="row row g-0 p-3"> <div class="col-md-3 d-flex flex-column" id="tournamentlist">
          <input type="text" class="form-control" placeholder="friends" aria-label="friends" aria-describedby="searchButton">
      <button class="btn btn-primary" type="button" id="searchButton">Ara</button>

          <ul class="list-group overflow-auto scrollbar-sm">
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Sarp
              <button type="button" class="btn btn-sm btn-primary">Davet Et</button>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Tahil
              <button type="button" class="btn btn-sm btn-primary ">Davet Et</button>
            </li>
          </ul>
        </div>
        <div class="col-md-6 d-flex justify-content-center align-items-center">
            <button class="btn btn-primary">Başlat</button>
          </div>
        <div class="col-md-3 d-flex flex-column">
          <ul class="list-group overflow-auto scrollbar-sm">
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Alp
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Emircan
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>