<body>
            {% if is_2fa_enabled %}
            <p>Two-Factor Authentication is enabled.</p>
            <a href='/api/disable-2fa/'>Disable 2FA</a>
            {% else %}
            <p>Two-Factor Authentication is not enabled.</p>
            <button onclick="enable2FA()">Enable 2FA</button>
            {% endif %}

            <div id="qrcode-container"></div>

            <script>
              function enable2FA() {
                  fetch('/api/enable-2fa/')
                  .then(response => response.json())
                  .then(data => {
                      var qrImage = new Image();
                      if (data.qr_image !== "exists") {
                          qrImage.src = 'data:image/png;base64,' + data.qr_image;
                          document.getElementById('qrcode-container').appendChild(qrImage);
                      }
                  });
              }
          </script>
</body>