<div class="container">
  <br>
  <div class="row">
      <div class="col-lg-5 col-md-7 mx-auto my-auto">
          <div class="card" id="authCard">
              <div class="card-body px-lg-5 py-lg-5 text-center">
                  <img src="../../media/default.jpg" class="rounded-circle avatar-lg img-thumbnail mb-4" alt="profile-image">
                  <h2 class="text-info">2FA Security</h2>
                  <p style="color:black" class="mb-4">Enter the 6-digit code from your authenticator app.</p>
                  <form action="" method="post">
                    <div class="row mb-4">
                      <div class="col-lg-6 col-md-6 col-12 mx-auto">
                        <input type="tel" class="form-control text-lg text-center input-field" maxlength="6" name="code" placeholder="Enter 6-digit code" aria-label="2fa" required>
                      </div>
                    </div>
                    <div class="text-center">
                      <button type="submit" class="btn bg-info btn-lg my-4">Doğrula</button>
                    </div>
                  </form>
              </div>
          </div>
      </div>
  </div>
</div>
<style>
#authCard {
    box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);
    background-color: rgb(66, 168, 146);
}

#authCard {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: 1rem;
}

.img-thumbnail {
    padding: .25rem;
    background-color: #ecf2f5;
    border: 1px solid #dee2e6;
    border-radius: .25rem;
    max-width: 100%;
    height: auto;
}

.avatar-lg {
    height: 150px;
    width: 150px;
}
</style>