  <div class="container">
    <h4 class="fw-bold p-3 my-4">Tournament</h4>
    <div class="card" id="vscard">
      <div class="row row-cols-1 row-cols-md-3 g-3">
        <div class="col">
          <div class="card mb-3" style="margin-left: 20px; margin-right: 20px;" id="userfoto">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="../../media/default.jpg" style="max-width: 130px; max-height: 130px;"
                  class="img-fluid border-radius" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">tahil osman Açıkgoz</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col d-flex flex-column justify-content-center align-items-center">
          <input type="text">
          <button class="btn btn-primary">arkadaş ara</button>
        </div>
        <div class="col">
          <div class="card mb-3 " style="margin-right: 20px; margin-left: 20px;" id="userfoto">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="../../media/default.jpg" style="max-width: 130px; max-height: 130px;"
                  class="img-fluid border-radius" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Username</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="arkadas-ara-container">
        <button class="btn btn-primary arkadas-ara-buton">OYUNU BAŞLAT</button>
      </div>
    </div>
  </div>

<style>
  .arkadas-ara-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #vscard {
    min-height: 680px;
    background-color: rgb(66, 168, 146);
  }

  #userfoto {
    margin-top: 200px;
  }

  @media (max-width: 768px) {
    #userfoto {
      margin-top: 3px !important;
      /* Önemli! */
    }
  }

  #vscard .card-body {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    background-color: red;
    /* Additional styles for better appearance */
    padding: 1rem;

  }
</style>