asgiref==3.7.2
Django==4.2.8
django-filter==23.5
djangorestframework==3.14.0
importlib-metadata==7.0.0
Markdown==3.5.1
postgres==4.0
psycopg==3.1.14
psycopg-binary==3.1.14
psycopg2-binary==2.9.9
psycopg2-pool==1.1
pytz==2023.3.post1
six==1.16.0
sqlparse==0.4.4
typing-extensions==4.9.0
zipp==3.17.0
