{% block navbar %}

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li ><a class="menu_item" value="/home" >Home</a></li>
          <li ><a class="menu_item" value="/settings" >Settings</a></li>
          <li><a class="menu_item" value="/projects" >Projects</a></li>
          <li><a class="menu_item" value="/contact" >Contact</a></li>
          <li><a class="menu_item" value="/pong" >Pong</a></li>
          <li><a class="menu_item" value="/game" >Game</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a class="menu_item" value="/login" ><span class="glyphicon glyphicon-log-in"></span> login</a></li>
        </ul>
      </div>
    </div>
  </nav>

{% endblock %}