{% load static %}

{% block css_files %}
<link rel="stylesheet" href="{%static 'home/css/index.css'%}">
{% endblock %}

{% block psa_files %}
<link rel="stylesheet" href="{%static 'psa_js/router.js'%}">
{% endblock %}

{% block title %}
    APP
{% endblock %}
{% block content %}

<style>


</style>

<body class="custom-background">
  
    <div class="container-fluid text-center">
    <div class="col-md-1"><!-- bir colum bosluk olması için --></div>
    <div class="col-sm-9 text-left row">
    <div class="card ">
      <div id="main-page"></div>
        <div class="card-body">
            <h5 class="card-title">Başlık</h5>
            <p class="card-text">Kart içeriği buraya gelebilir.</p>
            <!-- Kart içeriğine istediğiniz öğeleri ekleyebilirsiniz -->
        </div>
        <div class="card-body">
          <h5 class="card-title">Başlık</h5>
          <p class="card-text">Kart içeriği buraya gelebilir.</p>
          <!-- Kart içeriğine istediğiniz öğeleri ekleyebilirsiniz -->
      </div>
    </div>
      <h1>Welcome</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <hr>
      <h3>Test</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita optio sit officia repudiandae illum enim a vel quo rerum iure eius corrupti, eum sint sapiente rem quas molestias labore pariatur?</p>
      <div class="card mb-2">
        </p>
      </div>
      </div>
      <div class="col-sm-2 justify-content-end">
          <img src="{% static 'general/ekaraogl.jpg' %}" alt="Kullanıcı Fotoğrafı" style="width: 180px; height: 142px; border-radius: 50%;">
        <h3>Kullanıcı Adı</h3>
        <p>Email: kullanici@mail.com</p>
        <p>Üyelik Tarihi: 01.01.2023</p>
    </div>

</body>
</html>

{% endblock %}