.about_card{
    max-width: 100%;
    max-height: 30vh;
}
.usercard{
    background-color: rgb(66, 168, 146);
}

#about-container{
    margin-top: 250px;
    background-color: rgba(38, 75, 67, 0.605);
}