.divider{
  flex: 1;
  height: 3px;
  background: rgb(255, 255, 255);
}

#login42logo{
  width: 500px;
}
.h-custom {
  height: calc(100% - 73px);
}

/* .form-label{
  font-size: 1.5rem;
  color: #ff195ec5;
}
 */
.form-label {
  font-size: 1.5rem;
  color: white;
}
@media (max-width: 450px) {
  .h-custom {
  height: 100%;
  }
}


#redirectLogin{
  display: block;
  padding: 10px 20px;
  font-size: 22px;
  background-color: #000;
  color: #fff;
}

#loading-cont{
  margin-top:300px;
}

#loading-img{
  display: block;   
  width: 200px;
  height: 200px;
}