{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'chat/chat.css' %}">
    <title>Chat</title>
    
</head>
<style>
    .backgroundimage
{
	position: fixed;
  	top: 0;
  	left: 0;
  	width: 100%;
  	height: calc(100% + 10px); /* Viewport yüksekliği kadar olan alanı kaplar ve 10px ek boşluk ekler */
  	background-image: linear-gradient(rgba(58, 1, 75, 0.5), rgba(0, 0, 0, 0.5)), url('../../static/backgrounds/w.jpg');
  	background-size: cover;
 	z-index: 1;
}


</style>
<body class="backgroundimage">
    {% include 'SPA/nav.html' %}
    <!-- start: Chat -->
    <section class="chat-section">
        <div class="chat-container">
            <!-- start: Sidebar -->
            <aside class="chat-sidebar">
                <a href="#" class="chat-sidebar-logo">
                    <i class="ri-chat-1-fill"></i>
                </a>
                <ul class="chat-sidebar-menu">
                    <li class="active"><a href="" data-title="Chats"><i class="ri-chat-3-line"></i></a></li>
                    <li><a href="" data-title="Settings"><i class="ri-settings-line"></i></a></li>
                    <li class="chat-sidebar-profile">
                        <button type="button" class="chat-sidebar-profile-toggle">
                            <img src="https://images.unsplash.com/photo-1534528741775-53994a69daeb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OXx8cGVvcGxlfGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60" alt="">
                        </button>
                        <ul class="chat-sidebar-profile-dropdown">
                            <li><a href=""><i class="ri-user-line"></i> Profile</a></li>
                            <li><a href=""><i class="ri-logout-box-line"></i> Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </aside>
            <!-- end: Sidebar -->
            <!-- start: Content -->
            <div class="chat-content">
                <!-- start: Content side -->
                <div class="content-sidebar">
                    <div class="content-sidebar-title">Chats</div>
                    <form action="" class="content-sidebar-form">
                        <input type="search" class="content-sidebar-input" placeholder="Search...">
                        <button type="submit" class="content-sidebar-submit"><i class="ri-search-line"></i></button>
                    </form>
                    <div class="content-messages">
                        <ul class="content-messages-list">
                            {% for u in friends %}
                                {% if u.username is not request.user.username %}
                                    <li>
                                        <a href="" data-conversation="#conversation-{{u.username}}">
                                            <img class="content-message-image" src="https://images.unsplash.com/photo-1534528741775-53994a69daeb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OXx8cGVvcGxlfGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60" alt="">
                                            <span class="content-message-info">
                                                <span class="content-message-name">{{u.username}}</span>
                                            </span>
                                        </a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <!-- end: Content side -->
                <!-- start: Conversation -->
                <div class="conversation conversation-default active">
                    <i class="ri-chat-3-line"></i>
                    <p>Select chat and view conversation!</p>
                </div>
                {% for u in friends %}
                    <div class="conversation" id="conversation-{{u.username}}">
                        <div class="conversation-top">
                            <button type="button" class="conversation-back"><i class="ri-arrow-left-line"></i></button>
                            <div class="conversation-user">
                                <img class="conversation-user-image" src="https://images.unsplash.com/photo-1534528741775-53994a69daeb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OXx8cGVvcGxlfGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60" alt="">
                                <div>
                                    <div class="conversation-user-name">{{u.username}}</div>
                                    <div class="conversation-user-status online">online</div>
                                </div>
                            </div>
                        </div>
                        <div class="conversation-main">
                            <ul class="conversation-wrapper">
                                {% for m in combined %}
                                    {% if u.username == m.user.username %}
                                        <li class="conversation-item me" id="{{m.user}}">
                                            <div class="conversation-item-side">
                                                <img class="conversation-item-image" src="https://images.unsplash.com/photo-1534528741775-53994a69daeb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OXx8cGVvcGxlfGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60" alt="">
                                            </div>
                                            <div class="conversation-item-content">
                                                <div class="conversation-item-wrapper">
                                                    <div class="conversation-item-box">
                                                        <div class="conversation-item-text">
                                                            <p>{{m.content}}</p>
                                                            <div class="conversation-item-time">{{m.date_added}}</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    {% else %}
                                        <li class="conversation-item" id="{{m.user}}">
                                            <div class="conversation-item-side">
                                                <img class="conversation-item-image" src="https://images.unsplash.com/photo-1534528741775-53994a69daeb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OXx8cGVvcGxlfGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60" alt="">
                                            </div>
                                            <div class="conversation-item-content">
                                                <div class="conversation-item-wrapper">
                                                    <div class="conversation-item-box">
                                                        <div class="conversation-item-text">
                                                            <p>{{m.content}}</p>
                                                            <div class="conversation-item-time">{{m.date_added}}</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="conversation-form">
                            <!-- <button type="button" class="conversation-form-button"><i class="ri-emotion-line"></i></button> -->
                            <div class="conversation-form-group">
                                <textarea class="conversation-form-input" rows="1" placeholder="Type here..."></textarea>
                                <!-- <button type="button" class="conversation-form-record"><i class="ri-mic-line"></i></button> -->
                            </div>
                            <button type="button" id="conversation-form-button" class="conversation-form-button conversation-form-submit"><i class="ri-send-plane-2-line"></i></button>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- end: Chat -->
</body>
{{ request.user.username|json_script:"json-username" }}
<script src="{% static 'chat/chat.js' %}">

</script>
</html>